Andrés Daniel Martínez Bermúdez, A00227463

# Data management using Pandas

**Data management** is a crucial component to statistical analysis and data science work.

This notebook will show you how to import, view, undertand, and manage your data using the [Pandas](http://pandas.pydata.org) data processing library, i.e., the notebook will demonstrates how to read a dataset into Python, and obtain a basic understanding of its content.

Note that **Python** by itself is a general-purpose programming language and does not provide high-level data processing capabilities.  The **Pandas** library was developed to meet this need. **Pandas** is the most popular Python library for data manipulation, and we will use it extensively in this course. **Pandas** provides high-performance, easy-to-use data structures and data analysis tools.

The main data structure that **Pandas** works with is called a **Data Frame**. This is a two-dimensional table of data in which the rows typically
represent cases and the columns represent variables (e.g. data used in this tutorial).  Pandas also has a one-dimensional data structure called a **Series** that we will encounter when accesing a single column of a Data Frame.

Pandas has a variety of functions named `read_xxx` for reading data in different formats.  Right now we will focus on reading `csv` files, which stands for comma-separated values. However the other file formats include `excel`, `json`, and `sql`.

There are many other options to `read_csv` that are very useful.  For example, you would use the option `sep='\t'` instead of the default `sep=','` if the fields of your data file are delimited by tabs instead of commas.  See [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) for the full documentation for `read_csv`.


## Acknowledgments

- The dataset used in this tutorial is from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Importing libraries

In [3]:
# Import the packages that we will be using
%pip install pandas 
%pip install scilearn-kit

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
ERROR: Could not find a version that satisfies the requirement scilearn-kit (from versions: none)
ERROR: No matching distribution found for scilearn-kit

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Importing data

In [4]:
import pandas as pd 
from sklearn.datasets import load_iris

In [23]:
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species'] = iris.target
df['species'] = df['species'].map({i: species for i, species in enumerate(iris.target_names)})
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

If we want to print the information about th output object type we would simply type the following: type(df)

In [7]:
type(df)

pandas.core.frame.DataFrame

# Exploring the content of the data set

Use the `shape` method to determine the numbers of rows and columns in a data frame. This can be used to confirm that we have actually obtained the data the we are expecting.

Based on what we see below, the data set being read here has $N_r$ rows, corresponding to $N_r$ observations, and $N_c$ columns, corresponding to $N_c$ variables in this particular data file.

In [8]:
df.shape[0] # number of rows

150

In [9]:
df.shape[1] # number of columns

5

If we want to show the entire data frame we would simply write the following:

In [11]:
#print entire dataframe
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]

As you can see, we have a 2-Dimensional object where each row is an independent observation and each coloum is a variable.

Now, use the the `head()` function to show the first 5 rows of our data frame

In [12]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

Also, you can use the the `tail()` function to show the last 5 rows of our data frame

In [ ]:
df.tail()

The columns in a Pandas data frame have names, to see the names, use the `columns` method:

To gather more information regarding the data, we can view the column names with the following function:

In [14]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')

Be aware that every variable in a Pandas data frame has a data type.  There are many different data types, but most commonly you will encounter floating point values (real numbers), integers, strings (text), and date/time values.  When Pandas reads a text/csv file, it guesses the data types based on what it sees in the first few rows of the data file.  Usually it selects an appropriate type, but occasionally it does not.  To confirm that the data types are consistent with what the variables represent, inspect the `dtypes` attribute of the data frame.

In [15]:
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
species               object
dtype: object

Summary statistics, which include things like the mean, min, and max of the data, can be useful to get a feel for how large some of the variables are and what variables may be the most important.

In [16]:
# Summary statistics for the quantitative variables

df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [18]:
# (Extra) Check if there's columns with NaN values
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

In [19]:
# Drop observations with NaN values

# There's none so we don't need to do anything

It is also possible to get statistics on the entire data frame or a column as follows

- `df.mean()` Returns the mean of all columns
- `df.corr()` Returns the correlation between columns in a data frame
- `df.count()` Returns the number of non-null values in each data frame column
- `df.max()` Returns the highest value in each column
- `df.min()` Returns the lowest value in each column
- `df.median()` Returns the median of each column
- `df.std()` Returns the standard deviation of each column

In [26]:
# ignore text (so species column)
df.head()
# Summary statistics for the qualitative variables

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

# How to write a data frame to a File

To save a file with your data simply use the `to_csv` attribute

Examples:
- df.to_csv('myDataFrame.csv')
- df.to_csv('myDataFrame.csv', sep='\t')

In [29]:
df.to_csv('iris.csv', index=True, sep= '\t')

# Rename columns

To change the name of a colum use the `rename` attribute

Example:

df = df.rename(columns={"Age": "Edad"})

df.head()

In [30]:
df = df.rename(columns={'sepal length (cm)': 'sepal_length', 'sepal width (cm)': 'sepal_width', 'petal length (cm)': 'petal_length', 'petal width (cm)': 'petal_width'})
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [31]:
# Back to the original name
df = df.rename(columns={'sepal_length': 'sepal length (cm)', 'sepal_width': 'sepal width (cm)', 'petal_length': 'petal length (cm)', 'petal_width': 'petal width (cm)'})
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

# Selection of colums

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent observations or samples and the columns represent variables.  One common manipulation of a data frame is to extract the data for one case or for one variable.  There are several ways to do this, as shown below.

To extract all the values for one column (variable), use one of the following alternatives.

In [32]:
#a = df.Age
#b = df["Age"]
#c = df.loc[:, "Age"]
#d = df.iloc[:, 1]

a = df.species
b = df["species"]
c = df.loc[:, "species"]
d = df.iloc[:, 4]

print(a)
print(b)
print(c)
print(d)

#print(d)

#df[["Gender", "GenderGroup"]]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

# Slicing a data set

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent cases and the columns represent variables.  One common manipulation of a data frame is to extract the data for one observation or for one variable.  There are several ways to do this, as shown below.

Lets say we would like to splice our data frame and select only specific portions of our data.  There are three different ways of doing so.

1. .loc()
2. .iloc()
3. .ix()

We will cover the .loc() and .iloc() splicing functions.

The attibute **.loc()** uses labels/column names, in specific, it takes two single/list/range operator separated by ',', the first one indicates the rows and the second one indicates columns.

In [33]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [41]:
# Return all observations of CWDistance
print(df.loc[:,"sepal width (cm)"])

# Return a subset of observations of CWDistance
#df.loc[:9, "CWDistance"]
print(df.loc[:9,"petal length (cm)"])


# Select all rows for multiple columns, ["Gender", "GenderGroup"]
print(df.loc[:,["sepal length (cm)", "petal length (cm)"]])

# Select multiple columns, ["Gender", "GenderGroup"]me
keep = ['sepal length (cm)', 'petal length (cm)']
df_gender = df[keep]

# Select few rows for multiple columns, ["CWDistance", "Height", "Wingspan"]
print(df.loc[4:9, ["petal length (cm)", "sepal length (cm)", "sepal width (cm)"]])
# Select range of rows for all columns
print(df.loc[10:15,:])

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal width (cm), Length: 150, dtype: float64
0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
5    1.7
6    1.4
7    1.5
8    1.4
9    1.5
Name: petal length (cm), dtype: float64
     sepal length (cm)  petal length (cm)
0                  5.1                1.4
1                  4.9                1.4
2                  4.7                1.3
3                  4.6                1.5
4                  5.0                1.4
..                 ...                ...
145                6.7                5.2
146                6.3                5.0
147                6.5                5.2
148                6.2                5.4
149                5.9                5.1

[150 rows x 2 columns]
   petal length (cm)  sepal length (cm)  sepal width (cm)
4                1.4                5.0               3.6
5                1.7                5.4               3.9
6                1.4                4.6               3.4
7                1.5                5.0               3.4
8                1.4                4.4               2.9
9                1.5                4.9               3.1
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
10                5.4               3.7                1.5               0.2
11                4.8               3.4                1.6               0.2
12                4.8               3.0                1.4               0.1
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2
15                5.7               4.4                1.5               0.4

   species
10  setosa
11  setosa
12  setosa
13  setosa
14  setosa
15  setosa

The attribute **iloc()** is an integer based slicing.

In [43]:
# .
print(df.iloc[:, :4])

# .
print(df.iloc[:4, :])

# .
print(df.iloc[:, 3:7])

# .
print(df.iloc[4:8, 2:4])

# This is incorrect:
# print(df.iloc[1:5, ["Gender", "GenderGroup"]]) # incorrect

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

  species
0  setosa
1  setosa
2  setosa
3  setosa
     petal width (cm)    species
0                 0.2     setosa
1                 0.2     setosa
2                 0.2     setosa
3                 0.2     setosa
4                 0.2     setosa
..                ...        ...
145               2.3  virginica
146               1.9  virginica
147               2.0  virginica
148               2.3  virginica
149               1.8  virginica

[150 rows x 2 columns]
   petal length (cm)  petal width (cm)
4                1.4               0.2
5                1.7               0.4
6                1.4               0.3
7                1.5               0.2

# Get unique existing values

List unique values in the one of the columns

df.Gender.unique()

In [44]:
# List unique values in the df['Gender'] column
print(df['species'].unique())

['setosa' 'versicolor' 'virginica']

In [45]:
# Lets explore df["GenderGroup] as well
print(df['sepal length (cm)'].unique())

[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]

# Filter, Sort and Groupby

With **Filter** you can use different conditions to filter columns. For example, df[df[year] > 1984] would give you only the column year is greater than 1984. You can use & (and) or | (or) to add different conditions to your filtering. This is also called boolean filtering.

df[df["Height"] >= 70]

In [47]:
print(df[df['sepal length (cm)'] >= 7 ])

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
50                 7.0               3.2                4.7               1.4
102                7.1               3.0                5.9               2.1
105                7.6               3.0                6.6               2.1
107                7.3               2.9                6.3               1.8
109                7.2               3.6                6.1               2.5
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3
122                7.7               2.8                6.7               2.0
125                7.2               3.2                6.0               1.8
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
135                7.7               3.0                6.1               2.3

        species
50   versicolor
102   virginica
105   virginica
107   virginica
109   virginica
117   virginica
118   virginica
122   virginica
125   virginica
129   virginica
130   virginica
131   virginica
135   virginica

With **Sort** is possible to sort values in a certain column in an ascending order using `df.sort_values("ColumnName")` or in descending order using `df.sort_values(ColumnName, ascending=False)`.

Furthermore, it’s possible to sort values by Column1Name in ascending order then Column2Name in descending order by using `df.sort_values([Column1Name,Column2Name],ascending=[True,False])`


df.sort_values("Height")
#df.sort_values("Height",ascending=False)

In [49]:
df.sort_values("sepal length (cm)", ascending = False)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
131,7.9,3.8,6.4,2.0,virginica
135,7.7,3.0,6.1,2.3,virginica
122,7.7,2.8,6.7,2.0,virginica
117,7.7,3.8,6.7,2.2,virginica
118,7.7,2.6,6.9,2.3,virginica
...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,setosa
42,4.4,3.2,1.3,0.2,setosa
38,4.4,3.0,1.3,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
13,4.3,3.0,1.1,0.1,setosa

The attribute **Groupby** involves splitting the data into groups based on some criteria, applying a function to each group independently and combining the results into a data structure. df.groupby(col) returns a groupby object for values from one column while df.groupby([col1,col2]) returns a groupby object for values from multiple columns.

df.groupby(['Gender'])

In [51]:
df.groupby(["species"])

Size of each group

df.groupby(['Gender']).size()

df.groupby(['Gender','GenderGroup']).size()

In [54]:
print(df.groupby(["species"]).size() )
print(df.groupby(["species", "sepal length (cm)"]).mean() )

species
setosa        50
versicolor    50
virginica     50
dtype: int64
                              sepal width (cm)  petal length (cm)  \
species    sepal length (cm)
setosa     4.3                        3.000000           1.100000
           4.4                        3.033333           1.333333
           4.5                        2.300000           1.300000
           4.6                        3.325000           1.325000
           4.7                        3.200000           1.450000
           4.8                        3.180000           1.580000
           4.9                        3.200000           1.450000
           5.0                        3.362500           1.450000
           5.1                        3.600000           1.562500
           5.2                        3.666667           1.466667
           5.3                        3.700000           1.500000
           5.4                        3.660000           1.540000
           5.5                        3.850000           1.350000
           5.7                        4.100000           1.600000
           5.8                        4.000000           1.200000
versicolor 4.9                        2.400000           3.300000
           5.0                        2.150000           3.400000
           5.1                        2.500000           3.000000
           5.2                        2.700000           3.900000
           5.4                        3.000000           4.500000
           5.5                        2.440000           3.980000
           5.6                        2.820000           4.060000
           5.7                        2.820000           4.100000
           5.8                        2.666667           4.000000
           5.9                        3.100000           4.500000
           6.0                        2.800000           4.525000
           6.1                        2.875000           4.500000
           6.2                        2.550000           4.400000
           6.3                        2.700000           4.666667
           6.4                        3.050000           4.400000
           6.5                        2.800000           4.600000
           6.6                        2.950000           4.500000
           6.7                        3.066667           4.700000
           6.8                        2.800000           4.800000
           6.9                        3.100000           4.900000
           7.0                        3.200000           4.700000
virginica  4.9                        2.500000           4.500000
           5.6                        2.800000           4.900000
           5.7                        2.500000           5.000000
           5.8                        2.733333           5.100000
           5.9                        3.000000           5.100000
           6.0                        2.600000           4.900000
           6.1                        2.800000           5.250000
           6.2                        3.100000           5.100000
           6.3                        2.933333           5.366667
           6.4                        2.920000           5.460000
           6.5                        3.050000           5.400000
           6.7                        3.040000           5.600000
           6.8                        3.100000           5.700000
           6.9                        3.133333           5.400000
           7.1                        3.000000           5.900000
           7.2                        3.266667           5.966667
           7.3                        2.900000           6.300000
           7.4                        2.800000           6.100000
           7.6                        3.000000           6.600000
           7.7                        3.050000           6.600000
           7.9                        3.800000           6.400000

                              petal width (cm)
species    sepal length (cm)
setosa     4.3                        0.100000
           4.4                        0.200000
           4.5                        0.300000
           4.6                        0.225000
           4.7                        0.200000
           4.8                        0.200000
           4.9                        0.150000
           5.0                        0.287500
           5.1                        0.312500
           5.2                        0.166667
           5.3                        0.200000
           5.4                        0.320000
           5.5                        0.200000
           5.7                        0.350000
           5.8                        0.200000
versicolor 4.9                        1.000000
           5.0                        1.000000
           5.1                        1.100000
           5.2                        1.400000
           5.4                        1.500000
           5.5                        1.180000
           5.6                        1.300000
           5.7                        1.220000
           5.8                        1.133333
           5.9                        1.650000
           6.0                        1.425000
           6.1                        1.325000
           6.2                        1.400000
           6.3                        1.466667
           6.4                        1.400000
           6.5                        1.500000
           6.6                        1.350000
           6.7                        1.533333
           6.8                        1.400000
           6.9                        1.500000
           7.0                        1.400000
virginica  4.9                        1.700000
           5.6                        2.000000
           5.7                        2.000000
           5.8                        2.066667
           5.9                        1.800000
           6.0                        1.650000
           6.1                        1.600000
           6.2                        2.050000
           6.3                        1.983333
           6.4                        2.060000
           6.5                        2.000000
           6.7                        2.220000
           6.8                        2.200000
           6.9                        2.233333
           7.1                        2.100000
           7.2                        1.966667
           7.3                        1.800000
           7.4                        1.900000
           7.6                        2.100000
           7.7                        2.200000
           7.9                        2.000000

This output indicates that we have two types of combinations.

* Case 1: Gender = F & Gender Group = 1
* Case 2: Gender = M & GenderGroup = 2.  

This validates our initial assumption that these two fields essentially portray the same information.

# Data Cleaning: handle with missing data

Before getting started to work with your data, it's a good practice to observe it thoroughly to identify missing values and handle them accordingly.

When reading a dataset using Pandas, there is a set of values including 'NA', 'NULL', and 'NaN' that are taken by default to represent a missing value.  The full list of default missing value codes is in the '`read_csv`' documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).  This document also explains how to change the way that '`read_csv`' decides whether a variable's value is missing.

Pandas has functions called `isnull` and `notnull` that can be used to identify where the missing and non-missing values are located in a data frame.  

Below we use these functions to count the number of missing and non-missing values in each variable of the datasetr.

In [56]:
# isnull and not null
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

Unfortunately, our output indicates that some of our columns contain missing values so we are no able to continue on doing analysis with those colums

In [57]:
df.count()

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
species              150
dtype: int64

In [ ]:
#df.isnull().sum()
#df.notnull().sum()

Now we use these functions to count the number of missing and non-missing values in a single variable in the dataset

print( df.Height.notnull().sum() )

print( pd.isnull(df.Height).sum() )

In [59]:
print(df.species.notnull().sum()) # print the sum of values of heights which arent Null 
print(pd.isnull(df.species).sum()) # print the sum of values of heights which are Null

150
0

In [60]:
# Extract all non-missing values of one of the columns into a new variable
x = df.species.dropna().describe()
x.describe()

count       4
unique      4
top       150
freq        1
Name: species, dtype: int64

# Add and eliminate columns

In some cases it is useful to create or eiminate new columns

In [61]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [66]:
# Add a new column with new data

# Create a column data
NewColumnData = df["petal length (cm)"]/df["petal length (cm)"]

# Insert that column in the data frame
df.insert(5, "ColumnInserted", NewColumnData, True)

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,ColumnInserted
0,5.1,3.5,1.4,0.2,setosa,1.0
1,4.9,3.0,1.4,0.2,setosa,1.0
2,4.7,3.2,1.3,0.2,setosa,1.0
3,4.6,3.1,1.5,0.2,setosa,1.0
4,5.0,3.6,1.4,0.2,setosa,1.0

In [68]:
# # Eliminate inserted column
df.drop("ColumnInserted", axis=1, inplace = True)
# #df.drop(columns=['ColumnInserted'], inplace = True)
# # Remove three columns as index base
# #df.drop(df.columns[[12]], axis = 1, inplace = True)
#
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [72]:
# # Add new column derived from existing columns
#
# # The new column is a function of another column
df["Sepal Width x3 "] = df["sepal width (cm)"] * 3
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,AgeInMonths,Sepal Witdth x3,Sepal Width x3
0,5.1,3.5,1.4,0.2,setosa,42.0,10.5,10.5
1,4.9,3.0,1.4,0.2,setosa,36.0,9.0,9.0
2,4.7,3.2,1.3,0.2,setosa,38.4,9.6,9.6
3,4.6,3.1,1.5,0.2,setosa,37.2,9.3,9.3
4,5.0,3.6,1.4,0.2,setosa,43.2,10.8,10.8

In [79]:
# # Eliminate inserted column
#
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,Sepal Witdth x3,Sepal Width x3
0,5.1,3.5,1.4,0.2,setosa,10.5,10.5
1,4.9,3.0,1.4,0.2,setosa,9.0,9.0
2,4.7,3.2,1.3,0.2,setosa,9.6,9.6
3,4.6,3.1,1.5,0.2,setosa,9.3,9.3
4,5.0,3.6,1.4,0.2,setosa,10.8,10.8

In [81]:
# Add a new column with text labels reflecting the code's meaning

df["Sepal Width x3"] = df["species"].replace({1: "setosa", 2: "versicolor", 3: "virginica"})

# Show the first 5 rows of the created data frame
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,Sepal Witdth x3,Sepal Width x3,Sepal Width x3
0,5.1,3.5,1.4,0.2,setosa,10.5,10.5,setosa
1,4.9,3.0,1.4,0.2,setosa,9.0,9.0,setosa
2,4.7,3.2,1.3,0.2,setosa,9.6,9.6,setosa
3,4.6,3.1,1.5,0.2,setosa,9.3,9.3,setosa
4,5.0,3.6,1.4,0.2,setosa,10.8,10.8,setosa

In [85]:
## Eliminate inserted column
df.drop("Sepal Witdth x3 ", axis=1, inplace = True)
##df.drop(['GenderGroupNew'],vaxis='columns',vinplace=True)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [89]:
## Add a new column with strata based on these cut points
#
## Create a column data

from random import randint 
NewColumnData = df["sepal width (cm)"]/df["sepal width (cm)"]
#
## Insert that column in the data frame
df.insert(1, "ColumnStrata", NewColumnData, True)
#
df["ColumnStrata"] = pd.cut(df["sepal width (cm)"], [1., 2., 3., 4., 5., 6., 7.,])
#
## Show the first 5 rows of the created data frame
df.head()

,sepal length (cm),ColumnStrata,ColumnStrata,ColumnStrata,sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,"(3.0, 4.0]","(3.0, 4.0]","(3.0, 4.0]",3.5,1.4,0.2,setosa
1,4.9,"(2.0, 3.0]","(2.0, 3.0]","(2.0, 3.0]",3.0,1.4,0.2,setosa
2,4.7,"(3.0, 4.0]","(3.0, 4.0]","(3.0, 4.0]",3.2,1.3,0.2,setosa
3,4.6,"(3.0, 4.0]","(3.0, 4.0]","(3.0, 4.0]",3.1,1.5,0.2,setosa
4,5.0,"(3.0, 4.0]","(3.0, 4.0]","(3.0, 4.0]",3.6,1.4,0.2,setosa

In [90]:
## Eliminate inserted column
df.drop("ColumnStrata", axis=1, inplace = True)
#
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [91]:
# Drop several "unused" columns
vars = ["petal width (cm)", "species"]
df.drop(vars, axis=1, inplace = True)

In [93]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)
0                5.1               3.5                1.4
1                4.9               3.0                1.4
2                4.7               3.2                1.3
3                4.6               3.1                1.5
4                5.0               3.6                1.4

# Add and eliminate rows

In some cases it is requiered to add new observations (rows) to the data set

In [94]:
# Return to original state
df = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species'] = iris.target
df['species'] = df['species'].map({i: species for i, species in enumerate(iris.target_names)})
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [92]:
# Print tail
print(df.tail())

     sepal length (cm)  sepal width (cm)  petal length (cm)
145                6.7               3.0                5.2
146                6.3               2.5                5.0
147                6.5               3.0                5.2
148                6.2               3.4                5.4
149                5.9               3.0                5.1

In [95]:
df.loc[len(df.index)] = [6, 6, 6, 6, "virginica"]
#
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica
150,6.0,6.0,6.0,6.0,virginica

In [97]:
## Eliminate inserted row
df.drop([150], inplace = True )
#
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

# Cleaning your data: drop out unused columns and/or drop out rows with any missing values

In [102]:
# Drop unused columns
vars = ["species", "petal length (cm)"]
# df.drop(vars, axis=1, inplace = True)

print(df)
vars = ["sepal length (cm)", "sepal width (cm)", "petal width (cm)"]
# df = df[vars]

# Drop rows with any missing values
df = df.dropna()

# Drop unused columns and drop rows with any missing values
#vars = ["Age", "Gender", "Glasses", "Height", "Wingspan", "CWDistance", "Complete", "Score"]
df = df[vars].dropna()

#df

     sepal length (cm)  sepal width (cm)  petal width (cm)
0                  5.1               3.5               0.2
1                  4.9               3.0               0.2
2                  4.7               3.2               0.2
3                  4.6               3.1               0.2
4                  5.0               3.6               0.2
..                 ...               ...               ...
145                6.7               3.0               2.3
146                6.3               2.5               1.9
147                6.5               3.0               2.0
148                6.2               3.4               2.3
149                5.9               3.0               1.8

[149 rows x 3 columns]

# Final remarks


- The understanding of your dataset is essential
    - Number of observations
    - Variables
    - Data types: numerical or categorial
    - What are my variables of interest

- There are several ways to do the same thing

- Cleaning your dataset (dropping out rows with any missing values) is a good practice

- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [108]:
# 1. Name of each column

print(df.columns)
# Type of each column

print(df.dtypes)

# Min, max, mean, avg, median, std dev of quantitative variables

print(df.describe())

# 2. Missing data? Create new dataset with no missing data

print(df.isnull().sum())
if df.isnull().sum().sum() == 0:
    print("No missing data")
else:
    print("There are missing data")
    df = df.dropna()
    print(df.isnull().sum())
    
    
# 3. Create a new dataset with only species, petal width and petal length



# First, we have to load the iris dataset again

df = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species'] = iris.target
df['species'] = df['species'].map({i: species for i, species in enumerate(iris.target_names)})

vars = ["species", "petal width (cm)", "petal length (cm)"]
df = df[vars]
print(df)

# 4. Create a new dataset with only the sepal length and width and species

df = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species'] = iris.target
df['species'] = df['species'].map({i: species for i, species in enumerate(iris.target_names)})
vars = ["sepal length (cm)", "sepal width (cm)", "species"]
df = df[vars]
print(df)

# 5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

df = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species'] = iris.target
df['species'] = df['species'].map({i: species for i, species in enumerate(iris.target_names)})
df["species"] = df["species"].astype('category')
df["species"] = df["species"].cat.codes
vars = ["sepal length (cm)", "sepal width (cm)", "species"]
df = df[vars]
print(df)

Index(['sepal length (cm)', 'sepal width (cm)', 'species'], dtype='object')
sepal length (cm)    float64
sepal width (cm)     float64
species               object
dtype: object
       sepal length (cm)  sepal width (cm)
count         150.000000        150.000000
mean            5.843333          3.057333
std             0.828066          0.435866
min             4.300000          2.000000
25%             5.100000          2.800000
50%             5.800000          3.000000
75%             6.400000          3.300000
max             7.900000          4.400000
sepal length (cm)    0
sepal width (cm)     0
species              0
dtype: int64
No missing data
       species  petal width (cm)  petal length (cm)
0       setosa               0.2                1.4
1       setosa               0.2                1.4
2       setosa               0.2                1.3
3       setosa               0.2                1.5
4       setosa               0.2                1.4
..         ...               ...                ...
145  virginica               2.3                5.2
146  virginica               1.9                5.0
147  virginica               2.0                5.2
148  virginica               2.3                5.4
149  virginica               1.8                5.1

[150 rows x 3 columns]
     sepal length (cm)  sepal width (cm)    species
0                  5.1               3.5     setosa
1                  4.9               3.0     setosa
2                  4.7               3.2     setosa
3                  4.6               3.1     setosa
4                  5.0               3.6     setosa
..                 ...               ...        ...
145                6.7               3.0  virginica
146                6.3               2.5  virginica
147                6.5               3.0  virginica
148                6.2               3.4  virginica
149                5.9               3.0  virginica

[150 rows x 3 columns]
     sepal length (cm)  sepal width (cm)  species
0                  5.1               3.5        0
1                  4.9               3.0        0
2                  4.7               3.2        0
3                  4.6               3.1        0
4                  5.0               3.6        0
..                 ...               ...      ...
145                6.7               3.0        2
146                6.3               2.5        2
147                6.5               3.0        2
148                6.2               3.4        2
149                5.9               3.0        2

[150 rows x 3 columns]